.top {
  height:400px;
  display:flex;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  flex-direction:  column;
  background-color:  #BA94D1;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  box-shadow: 3px 3px 3px #7F669D;
  width: 100%;
  
}

/*profile picture to be round and centered*/
.profile {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 97% 0;
}


h2{
  margin: 0px;
}

.name {
  color: #FFFFFF;
  font-family: 'La Belle Aurore', cursive;
  font-size: 40px;
}

.error {
  display:flex;
  justify-content: center;
color: rgb(255, 0, 0);
border: 3px solid;
border-radius: 5px;
padding: 10px;
}

.error.empty{
 display: none;
}

.error.error-overlimit {
  display:none;
}