header{
  height:400px;
  display:flex;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  flex-direction:  column;
  background-color: #3693d1;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}


.name {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}