.top {
  height:400px;
  display:flex;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  flex-direction:  column;
  background-color: #3693d1;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  width: 100%;
  
}

h2{
  font-weight: normal;
}

.name {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

.error {
  display:flex;
  justify-content: center;
color: rgb(255, 0, 0);
border: 3px solid;
border-radius: 5px;
padding: 10px;
}

.error.empty{
 display: none;
}

.error.error-overlimit {
  display:none;
}