nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width:100vw;
  padding:1em 1.5em;
  background: rgb(254,190,140);
  background: linear-gradient(90deg, rgba(254,190,140,1) 0%, rgba(247,164,164,1) 30%, rgba(0,212,255,1) 100%);
  color: #FFFFFF;
  position: fixed;
  top:0px;
}

.tweetTitle {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
} 

.navNewTweet {
  display: inline;
position: relative;
top: 15px;

} 
.icon {
  display:flex;
  flex-direction: column;
  align-items: center;
  color: #f33;
  margin-top: 10px;
}
.fa-solid.fa-angles-down{
  display: inline; 
}

