textarea{
  background: none;
  border: 0px;
  border-bottom: 3px solid black;
  width: 100%;
  resize: none;
}

.bottom-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.tweet-button {
  background-color:  #4056A1;
  color: white;
}

.overlimit{
  color:red;
}

.tweet-title {
  align-self: center;
}

/* toggle bomb in error message when clicked  */
.fa-solid.fa-bomb{
  display:inline;
  color: black;
}

.fa-solid.fa-person-dress-burst {
  display: none;   
}

.clicked .fa-solid.fa-person-dress-burst {
  display: inline;   
  color:red;
}
.clicked .fa-solid.fa-bomb {
  display: none;   
}

/* Toggles composing a new tweet when clicking on nav arrow */
.nav-tweet{
  display: inline;
position: relative;
}

.nav-tweet.toggle{
  display: none;
}

.new-tweet{
  display: none;
}

.new-tweet.toggle{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 20px;
}


.close-tweet.toggle {
  display: none;
}

.close-tweet {
  display: inline;
position: relative;
}
